@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}

/* 🔥 Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}